<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!-- vue.js 라이브러리 로드 -->
    <script src="./data.js"></script> <!-- 외부 데이터 파일 로드 -->
    <title>Vue</title>
</head>

<style>
    .character {
        border: 2px solid black;
        width: 300px;
        height: 300px;
        overflow: hidden;
    }


    .imgContainer {
        display: flex;
        justify-content: center;
    }

    .imgContainer img {

        width: 50%;
        height: 50%;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .skill {
        border: 2px solid black;
        width: 300px;
        height: 300px;
        overflow: hidden;
    }


    div {
        border: 1px solid black;
        padding: 5px;
    }

    .custom-input input {
        width: 200px;
        padding: 5px;
        border: 1px solid #ccc;
    }
</style>

<body>

    <div id="app">
        <header>
            <h1> vue template 이벤트 적용</h1>
            <div id="id">
                <button @click="setToggle">{{characterShow ? '조회하기' : 'check' }}</button>
                <div v-if="characterShow"></div>
                <div v-else="check"></div>
                <br>
                </div>

                <button @click="show">{{characterShow ? 'skill' : 'skillShow' }}</button>
                    <!-- <button @click="show">{{characterShow ? 'showSkill' : 'showCharacter' }}</button> -->
                    <div v-if="characterShow" class="container">
                        <div v-for="item in character" :key="item.id" class="character">
                            <h5>이름 : {{item.name}}</h5>
                            <p>{{item.introduction}}</p>
                            <div class="imgContainer">
                                <img :src=item.img />
                            </div>
                        </div>
                    </div>


 
                    <div v-else="skillShow" class="container">
                        <div v-for="item in skill" :key="item.id" class="skill">
                            <h5>Skill : {{item.skill}}</h5>
                            <p>{{item.list}}</p>
                            <p>소개 : {{item.introduction}}</p>
                            <div class="imgContainer" v-for="img in item.imgs">
                                <img :src=img />
                            </div>
                        </div>
                    </div>

                    <div id="check">
                        <select v-model="selected" @change="check">
                            <option value="인물등록">인물등록</option>
                            <option value="스킬등록">스킬등록</option>
                        </select>
                        <div id="label">
                            <div>
                                <br>
                                <label>name : </label><input v-bind:value="text" v-on:input="event => inputText(event)" />
                                <br>
        
                                <label>introduce : </label><input v-bind:value="text" v-on:input="event => inputText(event)" />
                                <br>
        
                                <label>img : </label><input v-bind:value="text" v-on:input="event => inputText(event)" />
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button @click="check">등록하기</button>
            <br>




        </header>
    </div>

    <script>
        const { createApp, ref, reactive } = Vue;

        createApp({

            setup() {
                const character = reactive(scholar);
                const skill = reactive(msaSkill);
                const characterShow = ref(true);
                function show() {
                    characterShow.value = !characterShow.value;
                }



                return {
                    character,
                    skill,
                    characterShow,
                    show
                }
            }
        }).mount("#app");

        createApp({
            setup() {
                const text = ref("");

                function inputText(event) {
                    text.value = event.target.value;
                }

                return {
                    text,
                    inputText
                }
            }
        }).mount("#check");

        createApp({
            setup() {
                const selected = ref("스킬등록");

                const check = () => {
                    console.log(selected.value);
                }

                return {
                    selected,
                    check
                }
            }

        }).mount("label");

        createApp({
            setup() {
                const characterShow = ref("characterShow");
                const count = ref(1);
                function setToggle() {
                    const options = ["characterShow", "check"];
                    const optionIndex = count.value % options.length;
                    characterShow.value = options[optionIndex];
                    count.value++;
                }
                return {
                    awesome,
                    setToggle
                }
            }
        }).mount("#id");
    </script>
</body>

</html>